.footer {
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 14px;
  position: relative;
}

.footer .footer-top {
  padding: 50px 0;
}

.footer .footer-contact{
  font-size: 0.75vw;
  line-height: 2;
  height: 100%;
  text-align: center;
  padding-bottom: 0;
}

.footer .footer-contact ul {
  display: flex; /* 수평 정렬을 위한 flex 사용 */
  justify-content: center; /* 중앙 정렬 */
  padding: 0; /* 기본 패딩 제거 */
}

.footer .footer-contact li {
  position: relative;
  list-style: none;
  font-weight: 700;
}

.footer .footer-contact li::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%; /* 세로 중앙 정렬 */
  right: -0.1vw; /* 수정된 값: 구분선을 더 가까이 위치 */
  transform: translateY(-50%);
  width: 1px; /* 두께 */
  height: 13px; /* 높이 */
  background-color: #707070; /* 작대기 색상 */
}

.footer .footer-contact li:last-child::after {
  content: none; /* 마지막 li의 구분선 제거 */
}

.footer .footer-contact li a {
  color: #fff;
  margin: 0 0.5vw; /* 링크 간격 */
}

.footer .footer-contact p{
  margin: 0;
  padding: 0;
}

.footer .social-links{
  display: flex;
  justify-content: flex-end; /* 아이콘을 우측 정렬 */
  flex-direction: row; /* 요소들이 수평으로 정렬되도록 */
  align-items: center;
}

.footer .social-links a {
  font-size: 2.6vw;
  color: #fff;
  line-height: 1;
  margin-right: 1vw;
  transition: 0.3s;
}

.footer .social-links a:nth-child(4) {
  margin-right: 0;
}


.footer .social-links a:hover {
  color: #e0e621;
}